<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <title>People</title>
</head>
<body>

<h2>Search person</h2>
<br/><br/>
<form action='/search' method='POST'>
    <span><b>Seach Overtreding : </b><input type='text' name='firstname'></span>
    <span><button type='submit'>Search</button></span>
</form>
</body>
</html>